* {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
}
.f-calistoga {
  font-family: "Calistoga", cursive;
  font-size: 2.8rem;
}

.box-shadow1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
